*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

@import "./partials/base";
@import "./partials/footer";
@import "./partials/content";
