*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: auto;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}
footer ul li a,
footer ul li a:visited {
  height: 30px;
  width: 30px;
  aspect-ratio: 1/1;
  display: block;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 0.25s ease;
}
footer ul li a svg,
footer ul li a:visited svg {
  display: block;
  height: 50%;
  width: auto;
  fill: hsl(223, 87%, 63%);
  transition: all 0.25s ease;
}
footer ul li a:hover,
footer ul li a:visited:hover {
  background-color: hsl(223, 87%, 63%);
  border-color: hsl(223, 87%, 63%);
  transform: translateY(-10%);
  filter: drop-shadow(0 1px 20px rgba(0, 0, 0, 0.125));
}
footer ul li a:hover svg,
footer ul li a:visited:hover svg {
  fill: hsl(223, 100%, 88%);
}
footer p {
  font-size: 10px;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}

main {
  padding: 20px;
  height: auto;
  min-height: 100vh;
  min-height: d100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  max-width: 40rem;
  margin: auto auto;
}
main picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}
main picture img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 40px 10px;
  gap: 40px;
}
header > img {
  height: 20px;
  width: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 40px 0;
}
header section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
header section h1 {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  margin-bottom: 10px;
  font-size: 25px;
}
header section h1 strong {
  font-weight: 600;
  color: hsl(209, 33%, 12%);
}
header section p {
  color: hsl(209, 33%, 12%);
  font-size: 12px;
}
header form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
header form div {
  width: 100%;
  max-width: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
header form small {
  color: hsl(354, 100%, 66%);
  padding: 0 40px;
  font-size: 10px;
  font-weight: 300;
  font-style: italic;
}
header form input {
  width: 100%;
  display: block;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 13px;
  outline: 0;
  transition: all 0.25s ease;
  border: 1.5px solid hsl(223, 100%, 88%);
}
header form input:focus-visible {
  border-color: hsl(0, 0%, 59%);
}
header form input::-moz-placeholder {
  color: hsl(0, 0%, 59%);
}
header form input::placeholder {
  color: hsl(0, 0%, 59%);
}
header form .invalid-input {
  border-color: hsl(354, 100%, 66%);
}
header form button, header form button:focus, header form button:focus-visible {
  width: 100%;
  display: block;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 13px;
  outline: 0;
  transition: all 0.25s ease;
  max-width: 28rem;
  border: 0;
  font-weight: 300;
  color: white;
  background-color: hsl(223, 87%, 63%);
  filter: drop-shadow(0 1px 20px rgba(0, 0, 0, 0.125));
  cursor: pointer;
  text-transform: capitalize;
}
header form button:hover, header form button:focus {
  opacity: 0.85;
}

dialog[open] {
  position: fixed;
  outline-color: transparent;
  border: 0;
  height: 100vh;
  inset: 0;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.25s ease;
}
dialog section {
  padding: 20px;
  width: 80%;
  max-width: 28rem;
  border-radius: 5px;
  background-color: white;
  filter: drop-shadow(0 1px 20px rgba(0, 0, 0, 0.125));
}
dialog section h2 {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  margin-bottom: 10px;
  font-size: 20px;
}
dialog section h2 strong {
  font-weight: 600;
  color: hsl(209, 33%, 12%);
}
dialog section p {
  color: hsl(209, 33%, 12%);
  font-size: 12px;
}
dialog section button, dialog section button:focus, dialog section button:focus-visible {
  width: 100%;
  display: block;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 13px;
  outline: 0;
  transition: all 0.25s ease;
  max-width: 28rem;
  border: 0;
  font-weight: 300;
  color: white;
  background-color: hsl(223, 87%, 63%);
  filter: drop-shadow(0 1px 20px rgba(0, 0, 0, 0.125));
  cursor: pointer;
  text-transform: capitalize;
}
dialog section button:hover, dialog section button:focus {
  opacity: 0.85;
}
dialog section button {
  margin-top: 40px;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

@media screen and (min-width: 1024px) {
  header section h1 {
    font-size: 30px;
  }
  header form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
  }
  header form div {
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 70%;
  }
  header form button {
    flex-basis: 30%;
  }
}/*# sourceMappingURL=styles.css.map */